:root {
  --color-primary: #007bff;
}

*, body {
  font-family: 'Inter';
}

a {
  text-decoration: none;
  color: initial;
}

p {
  font-size: 14px;
}

/* Solid Numbered List */

ol.custom-list {
  list-style-type: none;
  padding-left: 0;
}

ol.custom-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

ol.custom-list li::before {
  content: counter(list-item);
  counter-increment: list-item-1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #000000;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-weight: bold;
  margin-left: -10px;
}

